<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>统一认证授权中心</title>
    <meta name="description" content="统一认证授权中心">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

</head>
<body class="bg-white">
<div class="d-flex align-content-center flex-wrap">
    <div class="container">
        <div class="login-content">
            <div class="login-logo">
                <h1>欢迎登录统一认证授权中心</h1>
            </div>
            <div class="login-form">
                <form th:action="@{/login}" method="post" th:method="post" class="mt-1">
                    <div class="form-group">
                        当前登录用户：<span th:text="${username}">admin</span>, <a th:href="@{/logout}">退出</a>
                    </div>
                    <div class="form-group" th:text="${name}">
                        <label>系统名称：</label>OA
                    </div>
                    <div class="form-group" th:text="${version}">
                        <label>系统版本：</label>1.0
                    </div>
                    <div class="form-group">
                        <a href="http://localhost:8081/oa/profile" th:href="${oaProfileUri}"  target="_blank">OA-综合办公平台</a>
                    </div>
                    <div class="form-group">
                        <a href="http://localhost:8082/qq/profile" th:href="${qqProfileUri}"  target="_blank">QQ-移动平台</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>

<script type="text/javascript" th:src="@{/assets/js/main.js}" src="../static/assets/js/main.js"></script>
</html>
